@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');


html, body{
  font-family: 'Kanit', Arial;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  overflow-y: auto;
  height: 160px;
  width: 2000px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 9997;
}

#inicio .profile img{
  margin: 15px auto;
  display: block;
  width: 120px;
}

#header .profile .info-cabecalho{
  margin-left: 945px;
}

#header-mobile{
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  background: #090808;
  overflow-y: auto;
  width: 300px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 0;
}

#inicio .profile-mobile img{
  margin: 15px auto;
  display: block;
  width: 120px;
}

.nav-menu{
  padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
  display: flex;
  align-items: center;
  color: darkgrey;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i{
  font-size: 24px;
  padding-right: 0.8rem;
  transition: 0.3s;
  color: darkgrey;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a{
  text-decoration: none;
  color: white;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i{
  color: #00f7ff;
}


i.menu-mobile{
    position: fixed;
    color: #fff;
    background-color: #000000;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

#logo{
  margin-left: 100px;
}

.nav-menu a#teste{
  margin-left: 150px
}

section#inicio{
  background-image: url("img/fundo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px 0px 0px;
  width: 100%;
  height: 100vh;
}

.info-cabecalho a{
  margin-right: 50px;
  color: #fff;
}

.info-cabecalho{
  margin-top: -50px;
}

#contato{
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;
  
  height: 50px;
  width: 200px;
}

.info-cabecalho a:hover, .info-cabecalho .active, .info-cabecalho .active:focus, .info-cabecalho li:hover > a {
  text-decoration: none;
  color: #149DDD;
}

*::-webkit-scrollbar{
  width: 10px
}

*::-webkit-scrollbar-track{
  width: 12px;
  box-shadow: inset 0 0 .4rem #090808;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb{
    background-color: #090808;
}

#cadastre-se{
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;

  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;

  margin-top: 50px;
  margin-left: -250px;
}

#informacoes{
  height: 50px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  
  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;
  
  margin-top: 35px;
  margin-left: -250px;
}

#title{
  font-size: 5rem;
  font-family: 'Kanit', Arial;
}

#subtitle{
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Kanit', Arial;
}

#carinha{
  width: 75%;
  height: 75%;
  margin-top: -55px;
  margin-left: 240px;
}

#logo-for-inicio{
  width: 0%;
  height: 0%;
}

#cor_azul{
  color: #149DDD;
}

@media (max-width: 1024px){
  section#inicio h2{
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  span#subtitle{
    margin-right: 0;
    font-size: 1rem;
  }
  #carinha{
    width: 0%;
    height: 0%;
    margin-left: 120px;
  }
  #logo-for-inicio{
    width: 14%;
    height: 11%;
  }
  #informacoes{
    height: 40px;
    width: 200px;
      
    font-size: 16px;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }
  #cadastre-se{
    height: 40px;
    width: 200px;

    font-size: 16px;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: 4rem;
  }
  #inicio .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 50%;
  }
  i.menu-mobile{
    margin: 0 0 0;
    display: flex;
  }
  section#inicio{
    margin-right: 0;
}
  #main{
    margin-top: 0;
    margin-left: 0;
  }
  #header{
    top: -500px;
    left: -300px;
  }
  #header-mobile{
    left: -300px;
    z-index: 9997;
  }
  #logo-mobile{
    margin-left: 0;
  }
}

#vortex{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

#sobre{
  background: #090808;
  font-size: 20px;
}

#objetivo{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

#icons-sobre{
  width: 100%;
  height: 100%;

  color: #149DDD;

  margin-top: 6rem;
  margin-bottom: 7rem;
  text-align: center;
}

#icon-sobre{
  width: 100%;
  height: 100%;
}

#plataforma{
  background: #000000;
  font-size: 20px;
}

#title-plataform{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

#porque-usar{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  font-size: 20px;
}

#icons-plataforma{
  width: 100%;
  height: 100%;

  color: #149DDD;

  margin-top: 6rem;
  margin-bottom: 7rem;
  text-align: center;
}

#icon-plataforma{
  width: 100%;
  height: 100%;
}

#titulo-icon{
  text-decoration: none;
  text-style: none;
}

#legenda-icon{
  color: #fff;
}

#icon-plataforma{
  margin-top: 2rem;
}

#icon-sobre{
  margin-top: 2rem;
}

@media (max-width: 480px){
  #icons-sobre{
  width: 65%;
  height: 65;
  margin-left: 4rem;
}
  #icons-plataforma{
  width: 65%;
  height: 65%;
  margin-left: 4rem;
}
}


section#tecnologias{
  background: #090808;
  font-size: 20px;
}

section#tecnologias h2{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

section#tecnologias #tec{
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

#img-tecnologia{
  width: 10%;
  height: 10%;

  margin-top: 6rem;
  margin-bottom: 7rem;
}

#legenda-img{
  color: #fff;
  text-align: center;
}

/*CSS LOGIN*/
#body-login{
  display: flex;
  min-height: 100vh;

  font-family: 'Kanit', Arial;
  background: #000000;

  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.title-page{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.caixa{
  display: flex;

  width: 600px;
  height: 600px;

  color: #fff;
  background: #000000;
  border-radius: 5px;

  margin-right: 15rem;
  position: relative;
  align-items: center;
  justify-content: center;
 }

.caixa::before, .caixa::after{
  content: '';
  width: calc(100% + 30px);
  height: calc(100% + 30px);

  border-radius: 8px;
  background-size: 300%;
  background: linear-gradient(45deg, #007bff, #00ffe1, #03141C, #00ffe1);

  z-index: -1;
  position: absolute;

  animation: animate 10s linear alternate infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1300px;
  }
}

.caixa::after{
  filter: blur(50px);
}

.box{
  width: 100%;
  height: 100%;
  padding: 200px;
  
  top: 0;
  left: 0;
  right: 0;
  
  background: #03141C;

  border-radius: 4px;
  transform: translate(-50%, -50%);
  
}

#body-login h1{
  font-family: 'Kanit', Arial;
  font-weight: 500;
  
  color: #fff;
  margin-top: 1rem;
  text-transform: uppercase;
}

.box input[type = "text"], .box input[type = "password"], .box input[type = "email"]{
  
  display: block;
  font-family: 'Kanit', Arial;
  
  width: 200px;
  margin: 20px auto;
  padding: 14px, 10px;
  
  
  color: #787878;
  outline: none;
  background: none;
  text-align: center;
  
  border: 0;
  bordedr-radius: 24px;
  border: 2px solid #fff;
  transition: 0.25s;
}


.box input[type = "email"]:focus, .box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width: 200px;
  border-color: #149DDD;
}

.box input[type = "submit"]{
  cursor: pointer;
  outline: none;
  background: none;
  text-align: center;
  margin-left: 2rem;

  color: #fff;
  padding: 14px 40px;
  border-radius: 24px;
  border: 2px solid #149DDD;
  
  transition: 0.25s;
}

#link-botao{
  z-index: 999;
}

.segunda-caixa{
  margin-left: 10rem;
}

#logo-cadastro{
  margin-top: 6rem;
  margin-left: 7rem;
  justify-content: center;
}

#title-login{
  color: #fff;
  font-size: 32px;
  justify-content: center;
}

#nao-possui{
  color: #fff;
  font-size: 15px;
  align-items: center;
  margin-top: 7rem;
  margin-left: 4.5rem;
}

#retornar{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

#retornar2{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

#recuperar{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5rem;
}

.caixa-cadastro{
  display: flex;

  width: 600px;
  height: 600px;

  color: #fff;
  background: #000000;
  border-radius: 5px;

  margin-right: 15rem;
  position: relative;
  align-items: center;
  justify-content: center;
 }

.caixa-cadastro::before, .caixa-cadastro::after{
  content: '';
  width: calc(100% + 30px);
  height: calc(100% + 30px);

  border-radius: 8px;
  background-size: 300%;
  background: linear-gradient(45deg, #ffff00, #00FF00, #00d5ff, #0000CD, #01015b, #45008a, #ff0000, #ff00a2);

  z-index: -1;
  position: absolute;

  animation: animate 10s linear alternate infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1300px;
  }
}

.caixa-cadastro::after{
  filter: blur(50px);
}

.box{
  width: 100%;
  height: 100%;
  padding: 200px;
  
  margin-top: 600px;
  margin-left: 600px;;
  right: 0;
  
  background: #03141C;

  border-radius: 4px;
  transform: ttranslate(-50%, -50%);
}

#ja-possui{
  color: #fff;
  font-size: 15px;
  align-items: center;
  margin-top: 7rem;
  margin-left: 8rem;
}

#title-cadastro{
  color: #fff;
  font-size: 32px;
  justify-content: center;
}

#cadastro-title{
  color: #fff;
  font-size: 32px;
  justify-content: center;
  margin-left: -75px;
}

#logo-login{
  margin-top: 6rem;
  margin-left: 10rem;
  justify-content: center;
}

.body-conta{
  font-family: 'Kanit', Arial;
  background: #090808;
}

.cabecalho{
  margin-top: 10rem;
  margin-left: 10rem;
}

.title-conta{
  color: #fff;
  font-size: 45px;
  font-family: 'Kanit', Arial;

  margin-left: 5rem;
  margin-top: 3rem;
}

.cabecalho #userfoto{
  color: #fff;
  width: 10%;
  height: 10%;
  margin-top: 5rem;
}

.username{
  color: #fff;
  font-size: 35px;
  font-family: 'Kanit', Arial;
  margin-top: 9rem;
}

.info-1{
  color: #fff;
  font-size: 17px;
  font-family: 'Kanit', Arial;
  
  margin-top: 1.5rem;
  margin-left: 10rem;
  margin-right: -15rem;
  align-items: center;
}

.info-2{
  color: #fff;
  font-size: 170px;
  font-family: 'Kanit', Arial;
  
  margin-top: 1.5rem;
  margin-left: -30rem;
  align-items: center;
}

/* CSS PLANNER */
.body-planner{
  font-family: 'Kanit', Arial;
  background: #000000;
}

.inicio-planner{
  margin-top: 150px;
  background: #000000;
}

#title-planner{
  font-size: 3rem;
  font-family: 'Kanit', Arial;
  text-align: center;
}

#subtitle-planner{
  display: block;
  font-style: italic;
  font-size: 1.5rem;
  font-family: 'Kanit', Arial;
  text-align: center;
}

#user-actv{
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;

  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;

  z-index: 10;
  margin-top: 50px;
  margin-left: 250px;
}

#user-calendar{
  height: 50px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  
  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;
  
  margin-top: 35px;
  margin-left: 250px;
}

.botoes-planner{
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.botao-atv{
  width: 500px;
  height: 500px;
  
  appearance: auto;
  background-image: url("/static/img/vortex-atividade.png");
  border: none;

  cursor: pointer;
  
  text-ident: 0px;
  text-shadow: none;
  text-transform: none;

  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;

  align-items: flex-start;
}
 .botao-task{
  width: 500px;
  height: 500px;
  
  appearance: auto;
  background-image: url("/static/img/vortex-task-list.png");
  border: none;
  
  cursor: pointer;
  
  text-ident: 0px;
  text-shadow: none;
  text-transform: none;

  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;

  align-items: flex-start;
}

.botao-calendar{
  width: 500px;
  height: 500px;
  
  appearance: auto;
  background-image: url("/static/img/vortex-calendario.png");
  border: none;

  cursor: pointer;
  
  text-ident: 0px;
  text-shadow: none;
  text-transform: none;

  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;

  align-items: flex-start;
}

.botao-atv:hover{
  filter: brightness(0.7);
}

.botao-task:hover{
  filter: brightness(0.7);
}

.botao-calendar:hover{
  filter: brightness(0.7);
}

.botao-atv:hover div{
  transform: scale(1.7,1.7);
  transition: 0.45s;
}

.botao-task:hover div{
  transform: scale(1.7,1.7);
  transition: 0.45s;
}

.botao-calendar:hover div{
  transform: scale(1.7,1.7);
  transition: 0.45s;
}

.botao-calendar div{
  margin-top: 11rem;
  color: #fff;
  font-size: 25px;
  font-family: 'Kanit', Arial;
}

.botao-task div{
  margin-top: 11rem;
  
  color: #fff;
  font-size: 25px;
  font-family: 'Kanit', Arial;
}

.botao-atv div{
  margin-top: 11rem;
  
  color: #fff;
  font-size: 25px;
  font-family: 'Kanit', Arial;
}

.botao-atv:focus{
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.botao-task:focus{
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.botao-calendar:focus{
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.grid-botoes {
  display: block;
  text-align: center;
}

/* CSS PÁGINA DA SEMANAL */
.pagina-semanal{
  display: block;
  font-family: 'Kanit', Arial;
  background: #090808;
}

#cabecalho-semanal{
  color: #fff;
  font-size: 3rem;
  font-family: 'Kanit', Arial;

  text-align: center;
}

@media(max-width: 1024px){ 
  .grid-botoes {
    display: inline;
  }
}

.relogio{
  color: #FFF;
  font-family: 'Kanit', Arial;
  margin-left: 5rem;
}

.dia{
  width: 30%;
  height: 250px;

  color: #fff;
  font-family: 'Kanit', Arial;
  background: #149DDD;

  margin-bottom: 15rem;
  
  border-radius: 12px;
  border: 0.5px solid white;
}

.dia h5{
  margin-top: 0.7rem;
  margin-left: 8.2rem;
}

/* CSS TASK LIST */
#body-task{
  font-family: 'Kanit', Arial;
  background-color: #000;
}

.table{
  color: #fff;
  margin-top: -130px;
}

#entradas{
  background-color: #000;
  border: 0;
}

#concluida{
  color-text: #000;
}

#back{
  background: #00ff4c;
  border: 1px solid #ffffff;
  border-radius: 3vh;
  color-text: #fff;
}

#text-atv {
  background: #000;
  border: 1px solid #fff;
  color-text: #fff;
}
input::placeholder{
  color: #fff;
}

input{
  color: #fff;
}

input:not(:placeholder-shown) {
  border: 1px solid #fff;
}

input:placeholder-shown {
  border: 1px solid #000;
}

#data{
  background-color: #000;
  border: 1px solid #fff;
}


#title-task{
  color: #fff;
  margin-top: -60px;
  margin-left: 500px;
  position: absolute;
}

.tabela-task{
  width: 500px;
  margin-left: 500px;
  margin-top: 300px;
}

.tabela-task{
  margin-top: 9rem;
  color: #fff;
 }


.tabela-task td{
  color: #fff;
}

#task-list{
  margin-top: 12rem;
}

#label{
  color: #fff;
}

/* CSS CALENDÁRIO */
#header{
  font-family: 'Kanit', Arial;
}
.main-calendario{
  background: #000000;
  font-family: 'Kanit', Arial;
}

.cabecalho-calendar{
  color: #fff;
  font-size: 25px;
  font-family: 'Kanit', Arial;

  margin-top: 12rem;
}

.previous, next, mes{
  margin-left: 50rem;
}

.table{
  color: #fff;
  margin-top: 5rem;
}

.calendar-table .calendar-items{
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.table td{
  height: 71px;
  width: 71.4px;

  background: #ffffff;
  border: 1px solid #000000;
  
  text-align: center;  
}

.calendar-table tbody td{
   color: #000000;
   cursor: pointer;
}

.calendar-table tbody td:hover{
  background: #00fbff;
}

.table .dia-atual{
  color: #fff;
  background: #00fbff;
}

.table .mes-anterior, .table .proximo-mes{
  color: #ababab;
  background: #e3e3e3;
}

.table .mes-anterior:hover, .table .proximo-mes:hover{
  background: #858585;
}

.ano{
  color: #fff;
  font-size: 40px;
  font-family: 'Kanit', Arial;

  margin-left: 55rem;
}

.mes{
  color: #fff;
  font-size: 35px;
  font-family: 'Kanit', Arial;
}

/*CSS RECUPERAÇÃO DE SENHA*/
#recuperacao{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5rem;
}

#logo-recuperar{
  color: #fff;
  margin-left: 61rem;
  margin-top: 5rem;
}

#text-redefinir{
  color: #fff;
  margin-left: 52rem;
  margin-top: 2rem;
}

#messageError{
  margin-top: 15px;
  color: #f50000;
  font-size: 13px;
}

.caixa-recuperar{
  display: flex;

  width: 600px;
  height: 600px;

  color: #fff;
  border-radius: 5px;

  margin-left: 45rem;
  margin-top: 5rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.caixa-recuperar::before, .caixa-recuperar::after{
  content: '';
  width: calc(100% + 30px);
  height: calc(100% + 30px);

  border-radius: 8px;
  background-size: 300%;
  background: linear-gradient(45deg, #007bff, #00ffe1, #03141C, #00ffe1);

  z-index: -1;
  position: absolute;

  animation: animate 10s linear alternate infinite;
}

.caixa-recuperar input[type = "text"]{
  display: block;
  font-family: 'Kanit', Arial;
  
  width: 200px;
  margin: 20px auto;
  padding: 14px, 10px;
  
  
  color: #787878;
  outline: none;
  background: none;
  text-align: center;
  
  border: 0;
  bordedr-radius: 24px;
  border: 2px solid #fff;
  transition: 0.25s;
}

.caixa-recuperar input[type = "submit"]{
  cursor: pointer;
  outline: none;
  background: none;
  text-align: center;
  margin-left: 2rem;

  color: #fff;
  padding: 14px 40px;
  border-radius: 24px;
  border: 2px solid #149DDD;
  
  transition: 0.25s;
}

/*CSS ATIVIDADE*/
.body-atividades{
  
  color:#fff;
  font-family: 'Kanit', Arial;
  background:#000;
  
  margin-top: 170px;
}

.table{
  justify-content: center;
}

.principal-atividades{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.caixa-adicionadas{
  align-items: center;
  justify-content: center;
}

.caixa-adicionar{
  display: flex;
  margin-left: 10rem;
}

.titulo-atividades-adicionadas{
  text-align: center;
}

.titulo-form-atividades{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -25rem;
}

.adicionadas td{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #05222e;
  border: 2px solid #000000;
}

.adicionadas tbody td:hover{
  cursor: none;
  background: #bfc0c0;
}

.numeroAtv, .nameAtv, .dateAtv, .descAtv{
  color: #fff;
  text-align: center;
}

.data, .nome{
  margin-left: 1rem;
}

.all-adc{
  display: flex;
  justify-content: center;
}

.box-atividade{
  display: fixed;
  width: 600px;
  height: 570px;

  color: #fff;
  background: #072b3b;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
}

.box-atividade input[type="text"], .box-atividade input[type="date"]{
  
  width: 150px;
  margin: 20px 5px;
  margin-top: 1px;

  color: #fff;
  outline: none;
  background: none;
  text-align: center;

  border: 0;
  border-radius: 24px;
  border: 2px solid #fff;
  transition: 0.25s;
}

#description{
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

#descricao1{
  margin-top: 1rem;
  margin-left: 1.5rem;
  
  padding:1rem;
  
  width: 550px;
  height: 250px;
  border-radius: 15px;
}

.box-atividade input[type = "submit"]{
  cursor: pointer;
  outline: none;
  background: none;
  text-align: center;
  margin-left: 13rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  
  color: #fff;
  padding: 14px 40px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  
  transition: 0.25s;
}


.caixa-remover{
  display: flex;
  margin-left: 60rem;
  margin-top: -30rem;
}

.box-remover{
  display: flex;
  width: 600px;
  height: 100px;

  color: #fff;
  background: #072b3b;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
}
.box-remover input[type = "submit"]{
  cursor: pointer;
  outline: none;
  background: none;
  text-align: center;
  margin-left: 13rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  
  color: #fff;
  padding: 14px 40px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  
  transition: 0.25s;
}

.titulo-form-remover{
  text-align: center;
  margin-top: -5rem;
  margin-left: 25rem;
  margin-bottom: 2rem;
}

/*CSS CÓDIGO DE ACESSO*/
.body-codigo{
  display: flex;
  min-height: 100vh;

  color:#fff;
  font-family: 'Kanit', Arial;
  background: #000;
  
  margin-top: 15rem;
  box-sizing: border-box;
}




/*CSS ATUALIZAR ATIVIDADE*/
.body-atualizar{
  
  color:#fff;
  font-family: 'Kanit', Arial;
  background:#000;
  
  margin-top: 170px;
}

.principal-atualizar{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.caixa-atualizadas{
  align-items: center;
  justify-content: center;
}


.caixa-atualizar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-atividades-atualizadas{
  text-align: center;
}
.titulo-form-atualizar{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 2px solid #ffffff;
}

.atualizar td{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #05222e;
  border: 2px solid #000000;
}

.atualizar tbody td:hover{
  cursor: none;
  background: #bfc0c0;
}

.numeroAtv, .nameAtv, .dateAtv, .descAtv{
  color: #fff;
  text-align: center;
}

.data, .nome{
  margin-left: 1rem;
}

.all-adc{
  display: flex;
  justify-content: center;
}

.box-atualizar{
  display: fixed;
  width: 600px;
  height: 570px;
  margin-left: 2rem;

  color: #fff;
  background: #072b3b;
  border-radius: 5px;

  align-items: center;
}

.box-atualizar input[type="text"], .box-atualizar input[type="date"]{
  width: 150px;
  margin: 20px 5px;
  margin-top: 1px;

  color: #fff;
  outline: none;
  background: none;
  text-align: center;
  margin-right: 2rem;

  border: 0;
  border-radius: 24px;
  border: 2px solid #fff;
  transition: 0.25s;
}
