@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');


html, body{
  font-family: 'Kanit', Arial;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  overflow-y: auto;
  height: 160px;
  width: 2000px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 9997;
}

#inicio .profile img{
  margin: 15px auto;
  display: block;
  width: 120px;
}

#header .profile .info-cabecalho{
  margin-left: 945px;
}

#header-mobile{
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  background: #090808;
  overflow-y: auto;
  width: 300px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 0;
}

#inicio .profile-mobile img{
  margin: 15px auto;
  display: block;
  width: 120px;
}

.nav-menu{
  padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus{
  display: flex;
  align-items: center;
  color: darkgrey;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i{
  font-size: 24px;
  padding-right: 0.8rem;
  transition: 0.3s;
  color: darkgrey;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a{
  text-decoration: none;
  color: white;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i{
  color: #00f7ff;
}


i.menu-mobile{
    position: fixed;
    color: #fff;
    background-color: #000000;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

#logo{
  margin-left: 100px;
}

.nav-menu a#teste{
  margin-left: 150px
}

section#inicio{
  background-image: url("img/fundo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px 0px 0px;
  width: 100%;
  height: 100vh;
}

.info-cabecalho a{
  margin-right: 50px;
  color: #fff;
}

.info-cabecalho{
  margin-top: -50px;
}

#contato{
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;
  
  height: 50px;
  width: 200px;
}

.info-cabecalho a:hover, .info-cabecalho .active, .info-cabecalho .active:focus, .info-cabecalho li:hover > a {
  text-decoration: none;
  color: #149DDD;
}

*::-webkit-scrollbar{
  width: 10px
}

*::-webkit-scrollbar-track{
  width: 12px;
  box-shadow: inset 0 0 .4rem #090808;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb{
    background-color: #090808;
}

#cadastre-se{
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;

  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;

  margin-top: 50px;
  margin-left: -250px;
}

#informacoes{
  height: 50px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  
  text-decoration: none;
  background-color: #149DDD;
  color: #fff;
  cursor: pointer;
  
  margin-top: 35px;
  margin-left: -250px;
}

#title{
  font-size: 5rem;
  font-family: 'Kanit', Arial;
}

#subtitle{
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Kanit', Arial;
}

#carinha{
  width: 75%;
  height: 75%;
  margin-top: -55px;
  margin-left: 240px;
}

#logo-for-inicio{
  width: 0%;
  height: 0%;
}

#cor_azul{
  color: #149DDD;
}

@media (max-width: 1024px){
  section#inicio h2{
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  span#subtitle{
    margin-right: 0;
    font-size: 1rem;
  }
  #carinha{
    width: 0%;
    height: 0%;
    margin-left: 120px;
  }
  #logo-for-inicio{
    width: 14%;
    height: 11%;
  }
  #informacoes{
    height: 40px;
    width: 200px;
      
    font-size: 16px;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }
  #cadastre-se{
    height: 40px;
    width: 200px;

    font-size: 16px;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: 4rem;
  }
  #inicio .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 50%;
  }
  i.menu-mobile{
    margin: 0 0 0;
    display: flex;
  }
  section#inicio{
    margin-right: 0;
}
  #main{
    margin-top: 0;
    margin-left: 0;
  }
  #header{
    top: -500px;
    left: -300px;
  }
  #header-mobile{
    left: -300px;
    z-index: 9997;
  }
  #logo-mobile{
    margin-left: 0;
  }
}

#vortex{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

#sobre{
  background: #090808;
  font-size: 20px;
}

#objetivo{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

#icons-sobre{
  width: 100%;
  height: 100%;

  color: #149DDD;

  margin-top: 6rem;
  margin-bottom: 7rem;
  text-align: center;
}

#icon-sobre{
  width: 100%;
  height: 100%;
}

#plataforma{
  background: #000000;
  font-size: 20px;
}

#title-plataform{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

#porque-usar{
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  font-size: 20px;
}

#icons-plataforma{
  width: 100%;
  height: 100%;

  color: #149DDD;

  margin-top: 6rem;
  margin-bottom: 7rem;
  text-align: center;
}

#icon-plataforma{
  width: 100%;
  height: 100%;
}

#titulo-icon{
  text-decoration: none;
  text-style: none;
}

#legenda-icon{
  color: #fff;
}

#icon-plataforma{
  margin-top: 2rem;
}

#icon-sobre{
  margin-top: 2rem;
}

@media (max-width: 480px){
  #icons-sobre{
  width: 65%;
  height: 65;
  margin-left: 4rem;
}
  #icons-plataforma{
  width: 65%;
  height: 65%;
  margin-left: 4rem;
}
}


section#tecnologias{
  background: #090808;
  font-size: 20px;
}

section#tecnologias h2{
  color: #fff;
  font-size: 35px;
  text-align: center;
}

section#tecnologias #tec{
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

#img-tecnologia{
  width: 10%;
  height: 10%;

  margin-top: 6rem;
  margin-bottom: 7rem;
}

#legenda-img{
  color: #fff;
  text-align: center;
}

#body-login{
  display: flex;
  min-height: 100vh;
  
  background: #000000;

  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.title-page{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.caixa{
  display: flex;

  width: 600px;
  height: 600px;

  color: #fff;
  background: #000000;
  border-radius: 5px;

  margin-right: 15rem;
  position: relative;
  align-items: center;
  justify-content: center;
 }

.caixa::before, .caixa::after{
  content: '';
  width: calc(100% + 30px);
  height: calc(100% + 30px);

  border-radius: 8px;
  background-size: 300%;
  background: linear-gradient(45deg, #007bff, #00ffe1, #03141C, #00ffe1);

  z-index: -1;
  position: absolute;

  animation: animate 10s linear alternate infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1300px;
  }
}

.caixa::after{
  filter: blur(50px);
}

.box{
  width: 100%;
  height: 100%;
  padding: 200px;
  
  top: 0;
  left: 0;
  right: 0;
  
  background: #03141C;

  border-radius: 4px;
  transform: ttranslate(-50%, -50%);
  
}

#body-login h1{
  font-family: 'Kanit', Arial;
  font-weight: 500;
  
  color: #fff;
  margin-top: 1rem;
  text-transform: uppercase;
}

.box input[type = "text"], .box input[type = "password"]{
  
  display: block;
  font-family: 'Kanit', Arial;
  
  width: 200px;
  margin: 20px auto;
  padding: 14px, 10px;
  
  
  color: #fff;
  outline: none;
  background: none;
  text-align: center;
  
  border: 0;
  bordedr-radius: 24px;
  border: 2px solid #fff;
  transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width: 200px;
  border-color: #149DDD;
}

.box input[type = "submit"]{
  cursor: pointer;
  outline: none;
  background: none;
  text-align: center;
  margin-left: 2rem;

  color: #fff;
  padding: 14px 40px;
  border-radius: 24px;
  border: 2px solid #149DDD;
  
  transition: 0.25s;
}

#link-botao{
  z-index: 999;
}

.segunda-caixa{
  margin-left: 10rem;
}

#logo-cadastro{
  margin-top: 6rem;
  margin-left: 7rem;
  justify-content: center;
}

#title-login{
  color: #fff;
  font-size: 32px;
  justify-content: center;
}

#nao-possui{
  color: #fff;
  font-size: 15px;
  align-items: center;
  margin-top: 7rem;
  margin-left: 4.5rem;
}

#retornar{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 6.5rem;
}

#retornar2{
  font-size: 13px;
  color: #149DDD;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 10rem;
}

.caixa-cadastro{
  display: flex;

  width: 600px;
  height: 600px;

  color: #fff;
  background: #000000;
  border-radius: 5px;

  margin-right: 15rem;
  position: relative;
  align-items: center;
  justify-content: center;
 }

.caixa-cadastro::before, .caixa-cadastro::after{
  content: '';
  width: calc(100% + 30px);
  height: calc(100% + 30px);

  border-radius: 8px;
  background-size: 300%;
  background: linear-gradient(45deg, #ffff00, #00FF00, #00d5ff, #0000CD, #01015b, #45008a, #ff0000, #ff00a2);

  z-index: -1;
  position: absolute;

  animation: animate 10s linear alternate infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1300px;
  }
}

.caixa-cadastro::after{
  filter: blur(50px);
}

.box{
  width: 100%;
  height: 100%;
  padding: 200px;
  
  top: 0;
  left: 0;
  right: 0;
  
  background: #03141C;

  border-radius: 4px;
  transform: ttranslate(-50%, -50%);
}

#ja-possui{
  color: #fff;
  font-size: 15px;
  align-items: center;
  margin-top: 7rem;
  margin-left: 8rem;
}

#title-cadastro{
  color: #fff;
  font-size: 32px;
  justify-content: center;
}

#cadastro-title{
  color: #fff;
  font-size: 32px;
  justify-content: center;
  margin-left: -75px;
}

#logo-login{
  margin-top: 6rem;
  margin-left: 10rem;
  justify-content: center;
}

.body-conta{
  background: #090808;
}

.cabecalho{
  margin-top: 10rem;
  margin-left: 10rem;
}

.title-conta{
  color: #fff;
  font-size: 45px;
  font-family: 'Kanit', Arial;

  margin-left: 5rem;
  margin-top: 3rem;
}

.cabecalho #userfoto{
  color: #fff;
  width: 10%;
  height: 10%;
  margin-top: 5rem;
}

.username{
  color: #fff;
  font-size: 35px;
  font-family: 'Kanit', Arial;
  margin-top: 9rem;
}

.info-1{
  color: #fff;
  font-size: 17px;
  font-family: 'Kanit', Arial;
  
  margin-top: 1.5rem;
  margin-left: 10rem;
  margin-right: -15rem;
  align-items: center;
}

.info-2{
  color: #fff;
  font-size: 170px;
  font-family: 'Kanit', Arial;
  
  margin-top: 1.5rem;
  margin-left: -30rem;
  align-items: center;
}

#titulo{
  font-size: 3rem;
  font-family: 'Kanit', Arial;
  color: #fff;
  margin-top: 10rem;
  margin-left: 600px;
}

#subtitulo{
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Kanit', Arial;
  color: #fff;
  margin-top: 13rem;
  margin-left: -500px;
}
