<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="{{ url_for( 'static', filename = 'style.css') }}"/>
  <link rel="shortcut icon" href="/static/img/vortex.png" type="imagem/x-icon"/>
  <title>Vortex</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
</head>


<body class='body-atividades'>
  <aside id="header">
      <section class="profile">
        <a href="/"><img id="logo" class="mt-4" src="/static/img/vortex.png" alt="fundo"/></a>
        <div class="info-cabecalho">
              <a class="item-menu" href="/planner">Inicio</a>
              <a class="item-menu" href="/tasklist">Task List</a>
        </div>
      </section>
    </aside>

    <main class="principal-atividades">
      <div class="container-sm">
        <div class="tabelas-atividades">
                <div class="caixa-adicionadas">
                    <h1 class="titulo-atividades-adicionadas">Minhas <span id="cor_azul">atividades</span></h1>
                    <table class="table">
                      <thead>
                          <tr>
                            <th class="nameAtv" scope="col">Nome</th>
                            <th class="dateAtv" scope="col">Data</th>
                            <th class="descAtv" scope="col">Descrição</th>
                            <th class="descAtv" scope="col"></th>
                            <th class="descAtv" scope="col"></th>
                          </tr>
                      </thead>
                      
                      <tbody class="adicionadas">
                          {% for item in mostrar %}   
                          <tr>
                            <td id="item-nome">{{item[1]}}</td>
                            <td id="item-data">{{item[2]}}</td>
                            <td id="item-descricao">{{item[3]}}</td>
                            <td><a class="" href='/deletar/{{item["idAtividade"]}}'></a></td>
                            <td><a class=""  href="/atualizarAtv"></a></td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
                
              <h1 class="titulo-form-atividades col"><span id="cor_azul">Adicionar</span> atividades</h1>
               <h1 class="titulo-form-remover"><span id="cor_azul">Remover</span> atividades</h1>
              <div class="caixa-adicionar">
                <form class="box-atividade" action="/adicionar" method="post">
                  <div class="all-adc row">
                  <div class="nome-input col ml-1 mr-1 mb-3">
                      <label for="nome" class="nome form-label">Nome</label>
                      <input type="text" class="form-control" id="nomeAtv" name="nomeAtv">
                  </div>

                  <div class="data-input col ml-1 mb-3">
                    <label for="dataAtividade" class="data form-label">Data</label>
                    <input type="text" class="form-control" id="dataAtv" name="dataAtv">
                  </div>
                  </div>
                  
                  <label for="descricao" id="description" class="form-label">Descrição</label>
                  <div class="desc-input mb-3">
                      <textarea class="descricao" id="descricao1" name="descricaoAtv"></textarea>
                  </div>
                  
                  <input type="submit" class="btn btn-primary" value="Adicionar"></input>
                </form>
            <p id="messageError">{{erro}}</p>
                </div>

         
                
              <div class="caixa-remover">
                <form class="box-remover" action="/deletar" method="post">
                  <div class="all-adc row">
                  <div class="nome-input col ml-1 mr-1 mb-3">
                      <label for="nome" class="nome form-label">Nome</label>
                      <input type="text" class="form-control" id="nomeAtv" name="nomeATV">
                  </div>
                  
                  <input type="submit" class="btn btn-primary" value="Deletar"></input>
                  <p id="messageError">{{erro}}</p>
                </form>
                </div>
          </div>
        </div>
    </main>  
</body>