<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="{{ url_for( 'static', filename = 'style.css') }}"/>
  <link rel="shortcut icon" href="/static/img/vortex.png" type="imagem/x-icon"/>
  <title>Vortex</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
</head>

<body class="body-planner">
    <div class="row">
          <div>
            <a href="/"><img id="logo-recuperar" src="static/img/vortex.png"/></a>
            <h1 id="text-redefinir">Recupere sua senha</h1>
          </div>
          <div class="caixa-recuperar">
                  <form id="login-espaco" class="box" action="/validarCodigo" method="post">                
                          <input type="text" name="codigo-email" placeholder="Código de Acesso">                       
                          <input type="submit" name="botão" value="Enviar">
                          <p id="messageError">{{resultado}}</p>
                  </form>
          </div>
  </div>
</body>