<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="{{ url_for( 'static', filename = 'style.css') }}"/>
  <link rel="shortcut icon" href="/static/img/vortex.png" type="imagem/x-icon"/>
  <title>Vortex</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
</head>

<body class="body-conta">
     <aside id="header">
        <section class="profile">
          <img id="logo" class="mt-4" src="/static/img/vortex.png" alt="fundo"/>
          <div class="info-cabecalho">
                <a class="item-menu" href="#inicio">Início</a>
                <a class="item-menu" href="#sobre">Minhas atividades</a>
                <a class="item-menu" href="/conta">Conta</a>
          </div>
        </section>
     </aside>


      <main class="principal-conta">
        <header class="cabecalho">
          <h1 class="title-conta">Sua <strong><span id="cor_azul">conta</span></strong></h1>
          <div class="row">
            <i class="bi bi-person-circle"></i>
            <p>Samuel Alves Gatão Freitas</p>
          </div>
        </header>
      </main>
</body>