<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="{{ url_for( 'static', filename = 'style.css') }}"/>

  <link rel="shortcut icon" href="/static/img/vortex.png" type="imagem/x-icon"/>
  
  <title>Vórtex</title>
  
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
  
</head>


<body>

  <aside id="header">
    <section class="profile">
      <img src="/static/img/vortex.png" alt="fundo">
    </section>
  </aside>
  
</body>