<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="{{ url_for( 'static', filename = 'style.css') }}"/>
  <link rel="shortcut icon" href="/static/img/vortex.png" type="imagem/x-icon"/>
  <title>Vortex</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
</head>

<body>
   <aside id="header">
      <section class="profile">
        <img id="logo" class="mt-4" src="/static/img/vortex.png" alt="fundo"/>
        <div class="info-cabecalho">
              <a class="item-menu" href="#inicio">Início</a>
              <a class="item-menu" href="#sobre">Minhas atividades</a>
              <a class="item-menu" href="/conta">Conta</a>
        </div>
      </section>
    </aside>


  <main id="main">
    <section id="inicio" class="row m-0 p-0">
      <h2 id="titulo">Olá, o que temos para hoje?</h2>
      <span id="subtitulo" class="text-white text-shadow">Bem Vindo @user! Alguma novidade?</span>
      <a href="#atividade"><button>Adicionar Atividades</button></a>
      <a href="#ajuda"><button id="cadastre-se">Precisa de Ajuda?</button></a>
    </section>
  </main>
  
</body>